<!DOCTYPE html>
<html  lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>

</head>
<body>
    <header>
        <nav>
            <ul><li>
                  <a href="/"> الصفحة الرئيسية </a>
            </li>
      <li> <a href="purchases"> صفحة المشتريات </a></li>
       
      <li> <a href="sales"> صفحة المبيعات </a></li> 
      <li><a href="inventory"> المخزون </a></li>  
        </ul>
        </nav>
    </header>
</body>
</html> 